:root{
    --back-image:url(images/backgrounds/menu.png);
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:var(--back-image);
    background-size:100% 100%;
}
.start_menu{
    width:80vw;
    position:absolute;
    left:10vw;
    height:80vh;
    top:10vh;
    background:linear-gradient(#c2ac88, #ccac99,#c2ac88);
    border:5px solid #223344;

}
.smenu_play{
    height:calc(24vh - 6px);
    padding-top:0px;
    margin-top:6vh;
}
.smenu_settings, .smenu_help{
    height:calc(16vh - 6px);
    margin-top:8vh;

}
.smenu_play, .smenu_settings, .smenu_help{
    padding:0;
    background-color:#bbbb88;
    border:3px solid black;
    margin-left:10%;
    width:80%;
    padding-top:0%;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:3.5em;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    background-color:#cccc99;
    font-size:3.55em;
}
.almendra_sc_regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}
.settings{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid black;
    background-color:#44ee44;
}
.set_close, .help_close{
    margin-top:10px;
    margin-left:68vw;
    width:10vw;
    background-color:red;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.set_close:hover, .help_close:hover, .smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    cursor:pointer;
}
span, div, button{
    user-select: none;
}
.set_caption{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;

}
.help{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid white;
    background-color:#7722bb;
}
.help_yapping{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;
    color:white;
    text-align:center;
    text-wrap:wrap;
}
.loader_cover{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width:100vw;
    height:100vh;
    background-color:black;
    display:none;
}
.lc_text{
    font-family:"Tahoma";
    color:green;
    margin:20px;
    z-index:1002;
}
.lc_image{
    width:10vw;
    height:auto;
    z-index:1001;
    position:absolute;
    top:20vh;
    left:20vw;
    animation:spin infinite 2s ease-in-out;
    animation-timing-function: linear;
}
.loader{
    z-index:1;
    display:none;
}
@keyframes spin{
    0%{
        left:20vw;
        top:20vh;
        transform: rotate(0deg);
    }
    50%{
        left:80vw;
        top:90vh;
    }
    75%{
        top:80vh;
        left:20vw;
    }
    90%{
        top:10vh;
        left:90vw;
    }
    100%{
        top:20vh;
        left:20vw;
        transform:rotate(360deg);
    }
}