:root{
    --back-image:url(images/backgrounds/menu.png);
    --human-color:#0fc9fc;
    --yox-empire-color:#6200ff;
    --pastans-color:#00ff6a;
    --scrapbots-color:#ff8000;
    --human-color-light:#6fdcfe;
    --yox-empire-color-light:#9966ff;
    --pastans-color-light:#66ffbb;
    --scrapbots-color-light:#ffaa66;
    
    
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:var(--back-image);
    background-size:100% 100%;
}
.start_menu{
    width:80vw;
    position:absolute;
    left:10vw;
    height:80vh;
    top:10vh;
    background:linear-gradient(#c2ac88, #ccac99,#c2ac88);
    border:5px solid #223344;

}
.smenu_play{
    height:calc(24vh - 6px);
    padding-top:0px;
    margin-top:6vh;
}
.smenu_settings, .smenu_help{
    height:calc(16vh - 6px);
    margin-top:8vh;

}
.smenu_play, .smenu_settings, .smenu_help{
    padding:0;
    background-color:#bbbb88;
    border:3px solid black;
    margin-left:10%;
    width:80%;
    padding-top:0%;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:3.5em;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    background-color:#cccc99;
    font-size:3.55em;
}
.almendra_sc_regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}
.settings{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid black;
    background-color:#44ee44;
}
.set_close, .help_close, .hq_close{
    margin-top:10px;
    margin-left:68vw;
    width:10vw;
    background-color:red;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.set_close:hover, .help_close:hover, .smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    cursor:pointer;
}
.set_close:hover, .help_close:hover, .hq_close:hover{
    background-color:#ff6666;
}
span, div, button{
    user-select: none;
}
.set_caption{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;

}
.help{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid white;
    background-color:#7722bb;
}
.help_yapping{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;
    color:white;
    text-align:center;
    text-wrap:wrap;
}
.loader_cover{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width:100vw;
    height:100vh;
    background-color:black;
    display:none;
}
.lc_text{
    font-family:"Tahoma";
    color:green;
    margin:20px;
    z-index:1002;
}
.lc_image{
    width:10vw;
    height:auto;
    z-index:1001;
    position:absolute;
    top:20vh;
    left:20vw;
    animation:spin infinite 2s ease-in-out;
    animation-timing-function: linear;
}
.loader{
    z-index:1;
    display:none;
    image-rendering:pixelated;
}
.faction_choose{
    position:absolute;
    width:80vw;
    height:80vh;
    border:7px solid #666666;
    background-color:white;
    left:calc(10vw - 3.5px);
    top:calc(10vh - 3.5px);
    border-radius:4px;
    display:none;
    z-index:10;
}
.choose_humans, .choose_yox_empire, .choose_scrapbots, .choose_pastans{
    width: 60vw;
    height:15vh;
    margin:auto;
    margin-top:2vh;
    border:2px solid black;
    color:black;
    font-family: "Almendra SC";
    text-align:center;
    font-size:2em;
}
.choose_humans{
    background-color:var(--human-color);
}
.choose_yox_empire{
    background-color:var(--yox-empire-color);
}
.choose_scrapbots{
    background-color:var(--scrapbots-color);
}
.choose_pastans{
    background-color:var(--pastans-color);
}
.choose_humans:hover{
    background-color:var(--human-color-light);
}
.choose_yox_empire:hover{
    background-color:var(--yox-empire-color-light);
}
.choose_scrapbots:hover{
    background-color:var(--scrapbots-color-light);
}
.choose_pastans:hover{
    background-color:var(--pastans-color-light);
}
.choose_humans:hover, .choose_yox_empire:hover, .choose_scrapbots:hover, .choose_pastans:hover{
    cursor:pointer;
}
.tile{
    position:absolute;
    image-rendering: pixelated;
    z-index:2;
}
.hotbar{
    position:fixed;
    bottom:0px;
    right:0px;
    width:90vw;
    height:12vh;
    background-color:#99aaff;
    border:3px solid black;
    border-top-left-radius:10px;
    display:none;
    z-index:300;
}
.next_turn{
    background-color:#000099;
    color:white;
    font-family:"Almendra SC";
    width:20%;
    height:80%;
    font-size:1.5em;
    margin:10px;
    border:4px solid black;
    z-index:100;
}
.next_turn:hover{
    background-color:#4444aa;
}
.counters_container{
    width:75%;
    height:80%;
    margin-left:10px;
    background-color:#2222aa;
    z-index:400;
}
.food_counter, .ore_counter, .oil_counter, .gems_counter, .hazardite_counter, .aluminium_counter{
    width:10%;
    height:50%;
    margin-top:25%;
    position:absolute;
    z-index:2000;
}
.c_img{
    width:32px;
    height:32px;
}
.food_c_label, .ore_c_label, .oil_c_label, .gems_c_label, .hazardite_c_label, .aluminium_c_label{
    font-size:auto;
}
.hq_menu{
    position:absolute;
    z-index:9999;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color:#000099;
    display:none;
}
.hq_close{
    position:absolute;
    top:20px;
    right:20px;
}
.hq_buildings, .hq_units{
    position:absolute;
    height:80%;
    width:40%;
    background-color:black;
    border:4px solid white;
}
.hq_buildings{
    left:5%;
    top:10%;
}
.hq_units{
    left:50%;
    top:10%;
}
@keyframes spin{
    0%{
        left:20vw;
        top:20vh;
        transform: rotate(0deg);
    }
    50%{
        left:80vw;
        top:90vh;
    }
    75%{
        top:80vh;
        left:20vw;
    }
    90%{
        top:10vh;
        left:90vw;
    }
    100%{
        top:20vh;
        left:20vw;
        transform:rotate(360deg);
    }
}
