:root{
    --back-image:url(images/backgrounds/menu.png);
    --human-color:#0fc9fc;
    --yox-empire-color:#6200ff;
    --pastans-color:#00ff6a;
    --scrapbots-color:#ff8000;
    --human-color-light:#6fdcfe;
    --yox-empire-color-light:#9966ff;
    --pastans-color-light:#66ffbb;
    --scrapbots-color-light:#ffaa66;
    --player-color-pale:#000000;
    --player-color-light:#000000;
    --player-color-dark:#000000;
    
    --unit-one-unlocked:#ffffff;
    --unit-two-unlocked:#ffffff;
    --unit-three-unlocked:#ff0000;
    --unit-four-unlocked:#ff0000;
    --unit-five-unlocked:#ff0000;
    --unit-six-unlocked:#ff0000;
    --unit-seven-unlocked:#ff0000;
    --unit-eight-unlocked:#ff0000;
    --unit-nine-unlocked:#ff0000;
    
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:var(--back-image);
    background-size:100% 100%;
}
.start_menu{
    width:80vw;
    position:absolute;
    left:10vw;
    height:80vh;
    top:10vh;
    background:linear-gradient(#c2ac88, #ccac99,#c2ac88);
    border:5px solid #223344;

}
.smenu_play{
    height:calc(24vh - 6px);
    padding-top:0px;
    margin-top:6vh;
}
.smenu_settings, .smenu_help{
    height:calc(16vh - 6px);
    margin-top:8vh;

}
.smenu_play, .smenu_settings, .smenu_help{
    padding:0;
    background-color:#bbbb88;
    border:3px solid black;
    margin-left:10%;
    width:80%;
    padding-top:0%;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:3.5em;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    background-color:#cccc99;
    font-size:3.55em;
}
.almendra_sc_regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}
.settings{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid black;
    background-color:#44ee44;
}
.set_close, .help_close, .hq_close, .encycl_close{
    margin-top:10px;
    margin-left:68vw;
    width:10vw;
    background-color:red;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.set_close:hover, .help_close:hover, .smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    cursor:pointer;
}
.set_close:hover, .help_close:hover, .hq_close:hover, .encycl_close:hover{
    background-color:#ff6666;
}
span, div, button{
    user-select: none;
}
.set_caption{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;

}
.help{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid white;
    background-color:#7722bb;
}
.help_yapping{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;
    color:white;
    text-align:center;
    text-wrap:wrap;
}
.loader_cover{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width:100vw;
    height:100vh;
    background-color:black;
    display:none;
}
.lc_text{
    font-family:"Tahoma";
    color:green;
    margin:20px;
    z-index:1002;
}
.lc_image{
    width:10vw;
    height:auto;
    z-index:1001;
    position:absolute;
    top:20vh;
    left:20vw;
    animation:spin infinite 2s ease-in-out;
    animation-timing-function: linear;
}
.loader{
    z-index:1;
    display:none;
    image-rendering:pixelated;
}
.faction_choose{
    position:absolute;
    width:80vw;
    height:80vh;
    border:7px solid #666666;
    background-color:white;
    left:calc(10vw - 3.5px);
    top:calc(10vh - 3.5px);
    border-radius:4px;
    display:none;
    z-index:10;
}
.choose_humans, .choose_yox_empire, .choose_scrapbots, .choose_pastans{
    width: 60vw;
    height:15vh;
    margin:auto;
    margin-top:2vh;
    border:2px solid black;
    color:black;
    font-family: "Almendra SC";
    text-align:center;
    font-size:2em;
}
.choose_humans{
    background-color:var(--human-color);
}
.choose_yox_empire{
    background-color:var(--yox-empire-color);
}
.choose_scrapbots{
    background-color:var(--scrapbots-color);
}
.choose_pastans{
    background-color:var(--pastans-color);
}
.choose_humans:hover{
    background-color:var(--human-color-light);
}
.choose_yox_empire:hover{
    background-color:var(--yox-empire-color-light);
}
.choose_scrapbots:hover{
    background-color:var(--scrapbots-color-light);
}
.choose_pastans:hover{
    background-color:var(--pastans-color-light);
}
.choose_humans:hover, .choose_yox_empire:hover, .choose_scrapbots:hover, .choose_pastans:hover{
    cursor:pointer;
}
.tile{
    position:absolute;
    image-rendering: pixelated;
    z-index:2;
}
.hotbar{
    position:fixed;
    bottom:0px;
    right:0px;
    width:90vw;
    height:12vh;
    background-color:#99aaff;
    border:3px solid black;
    border-top-left-radius:10px;
    display:none;
    z-index:300;
    font-family:"Almendra SC";
}
.next_turn{
    background-color:#000099;
    color:white;
    font-family:"Almendra SC";
    width:20%;
    height:80%;
    font-size:1.5em;
    margin:10px;
    border:4px solid black;
    z-index:100;
}
.next_turn:hover{
    background-color:#4444aa;
}
.counters_container{
    position:absolute;
    width:65%;
    height:80%;
    margin-left:10px;
    background-color:#2222aa;
    z-index:40;
    top:5%;
    left:25%;
    border:5px solid black;
    display:flex;
    justify-content: center;
    flex-direction:row;
    gap:20px;
}
.food_counter, .ore_counter, .oil_counter, .gems_counter, .hazardite_counter, .aluminium_counter{
    width:15%;
    height:90%;
    font-size:2em;
}
.counters_container span {
    color: white;
    font-weight: bold;
}
.c_img{
    width:32px;
    height:32px;
}
.food_c_label, .ore_c_label, .oil_c_label, .gems_c_label, .hazardite_c_label, .aluminium_c_label{
    font-size:auto;
}
.hq_menu{
    position:absolute;
    z-index:9999;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color:var(--player-color-dark);
    display:none;
}
.hq_close, .encycl_close{
    position:absolute;
    top:20px;
    right:20px;
    height:auto;
}
.hq_close:hover{
    cursor:pointer;
}
.encycl_close:hover{
    cursor:pointer;
}
.hq_info, .hq_market{
    position:absolute;
    top:30px;
    width:10vw;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.hq_info{
    right:calc(40px + 10vw);
    background-color:#7799dd;
}
.hq_info:hover{
    background-color:#99bbff;
    cursor:pointer;
}
.hq_market{
    right:calc(60px + 20vw);
    background-color:#ffee55;
}
.hq_market:hover{
    background-color:#ffff88;
    cursor:pointer;
}
.hq_info:hover{
    background-color:#99bbff;
    cursor:pointer;
}
.hq_buildings, .hq_units{
    position:absolute;
    height:80vh;
    width:40vw;
    background-color:black;
    border:4px solid white;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}
.hq_buildings{
    left:5vw;
    top:10vh;
}
.hq_units{
    left:55vw;
    top:10vh;
    overflow-y:scroll;
    height:80vh;
}
.buything{
    width:90%;
    height:10%;
    background-color:var(--player-color-pale);
    border:2px solid black;
    color:black;
    font-size:1.2em;
    font-family:"Almendra SC";
    text-align:center;
}
.buything:hover{
    background-color:var(--player-color-light);
    border:2px solid white;
    font-weight:600;
    cursor:pointer;
}
.buy_unit1:hover{
    border:2px solid var(--unit-one-unlocked);
}
.buy_unit2:hover{
    border:2px solid var(--unit-two-unlocked);
}
.buy_unit3:hover{
    border:2px solid var(--unit-three-unlocked);
}
.buy_unit4:hover{
    border:2px solid var(--unit-four-unlocked);
}
.buy_unit5:hover{
    border:2px solid var(--unit-five-unlocked);
}
.buy_unit6:hover{
    border:2px solid var(--unit-six-unlocked);
}
.buy_unit7:hover{
    border:2px solid var(--unit-seven-unlocked);
}
.buy_unit8:hover{
    border:2px solid var(--unit-eight-unlocked);
}
.buy_unit9:hover{
    border:2px solid var(--unit-nine-unlocked);
}

.hq_buildings .buything{
    height:5%;
}
.encycl{
    height:100vh;
    width:100vw;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#d3bd92;
    display:none;
}
.encycl_select{
    height:100vh;
    width:15vw;
    background-color:#b9ab71;
    border-right:3px solid black;
    position:absolute;
    top:0px;
    left:0px;
    overflow-y:scroll;
}
.e_es{
    width:100%;
    height:10%;
    font-family:"Almendra SC";
    background-color:#b9ab71;
    border:2px solid black;
}
.e_es:hover{
    background-color:#99bbdd;
}
.encycl_infobox{
    width:60vw;
    height:80vh;
    position:absolute;
    border:2px solid black;
    background-color:#b9ab71;
    top:10vh;
    left:27.5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.encycl_infobox_title{
    text-align:center;
    font-family:"Almendra SC";
    color:black;
    font-weight:600;
    font-size:1.8em;
}
.encycl_infobox_image{
    width:40%;
    height:auto;
    margin:auto;
    image-rendering: pixelated;    
}
.encycl_infobox_text{
    text-align:center;
    color:black;
    font-family: "Almendra SC";
    font-size:1.1em;
}
.hq_popup{
    width:80vw;
    height:80vh;
    position:absolute;
    top:10vh;
    left:10vw;
    background-color:#bb77aa;
    border:5px solid black;
    z-index:999999;
    display:flex;
    flex-direction: column;
    justify-content: center;
    display:none;
}
.hq_popup_text{
    display:block;
    font-family:"Almendra SC";
    color:black;
    font-size:2em;
    margin-top:10px;
    text-align:center;
}
.hq_popup_ok{
    display:block;
    margin:auto;
    width:50%;
    height:20%;
    background-color:#aa5599;
    font-family:"Almendra SC";
    margin-top:15%;
}
.hq_popup_ok:hover{
    background-color:#bb66aa;
}
.marketplace{
    background:linear-gradient(#ffff88, #aaffaa);
    position:absolute;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    display:none;
}
@keyframes spin{
    0%{
        left:20vw;
        top:20vh;
        transform: rotate(0deg);
    }
    50%{
        left:80vw;
        top:90vh;
    }
    75%{
        top:80vh;
        left:20vw;
    }
    90%{
        top:10vh;
        left:90vw;
    }
    100%{
        top:20vh;
        left:20vw;
        transform:rotate(360deg);
    }
}
