:root{
    --back-image:url(images/backgrounds/menu.png);
    --human-color:#0fc9fc;
    --yox-empire-color:#6200ff;
    --pastans-color:#00ff6a;
    --scrapbots-color:#ff8000;
    --human-color-light:#6fdcfe;
    --yox-empire-color-light:#9966ff;
    --pastans-color-light:#66ffbb;
    --scrapbots-color-light:#ffaa66;
    --player-color:#000000;
    --player-color-pale:#000000;
    --player-color-light:#000000;
    --player-color-dark:#000000;

    --food-color:#ffffff;
    --ore-color:#444444;
    --ore-color-light:#666666;
    --aluminium-color:#666666;
    --aluminium-color-light:#888888;
    --gems-color:#7799ff;
    --gems-color-light:#99aaff;
    --hazardite-color:#aaff23;
    --hazardite-color-light:#ccff45;
    --oil-color:#222222;
    --oil-color-light:#444444;
    
    --unit-three-unlocked:#ff0000;
    --unit-four-unlocked:#ff0000;
    --unit-five-unlocked:#ff0000;
    --unit-six-unlocked:#ff0000;
    --unit-seven-unlocked:#ff0000;
    --unit-eight-unlocked:#ff0000;
    --unit-nine-unlocked:#ff0000;
    --research-facility-unlocked:#ff0000;
    --shopping-center-unlocked:#ff0000;

    --hq-market-unlocked:#ff0000;
    --hq-university-unlocked:#ff0000;
    --hq-healthbar-color:#00ff00;

    --r1r1-purchased:#aaaabb;
    --r1r2-purchased:#aaaabb;
    --r1r3-purchased:#aaaabb;
    --r1r4-purchased:#aaaabb;
    --r2r1-purchased:#bb77dd;
    --r2r2-purchased:#bb77dd;
    --r2r3-purchased:#bb77dd;
    --r2r4-purchased:#bb77dd;
    --r3r1-purchased:#ff0000;
    --r3r2-purchased:#ff0000;
    --r3r3-purchased:#0000ff;
    --r3r4-purchased:#0000ff;
    --r4r1-purchased:#ffffff;
    --r4r2-purchased:#ffffff;
    --r4r3-purchased:#ffffff;
    --r4r4-purchased:#ffffff;
}
html, body{
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:var(--back-image);
    background-size:100% 100%;
}
span, div, button{
    user-select: none;
}
/**MAIN MENU**/
.start_menu{
    width:80vw;
    position:absolute;
    left:10vw;
    height:80vh;
    top:10vh;
    background:linear-gradient(#c2ac88, #ccac99,#c2ac88);
    border:5px solid #223344;
}
.smenu_play{
    height:calc(24vh - 6px);
    padding-top:0px;
    margin-top:6vh;
}
.smenu_settings, .smenu_help{
    height:calc(16vh - 6px);
    margin-top:8vh;
}
.smenu_play, .smenu_settings, .smenu_help{
    padding:0;
    background-color:#bbbb88;
    border:3px solid black;
    margin-left:10%;
    width:80%;
    padding-top:0%;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:3.5em;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    background-color:#cccc99;
    font-size:3.55em;
}
.settings{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid black;
    background-color:#44ee44;
}
.set_close, .help_close{
    margin-top:10px;
    margin-left:68vw;
    width:10vw;
    background-color:red;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    cursor:pointer;
}
.set_caption{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;
}
.help{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid white;
    background-color:#7722bb;
}
.help_yapping{
    margin-left:5px;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:2em;
    color:white;
    text-align:center;
    text-wrap:wrap;
}
/**CLOSE BUTTONS**/
.set_close:hover, .help_close:hover, .hq_close:hover, .encycl_close:hover, .marketplace_close:hover, .research_close:hover{
    background-color:#ff6666;
    cursor:pointer;
}
.hq_close, .encycl_close, .marketplace_close, .research_close{
    position:absolute;
    top:20px;
    right:20px;
    height:auto;
    background-color:red;
    font-family:"Almendra SC", serif;
    font-weight:400;
    font-style:normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
    width:10vw;
}
/**LOADING STUFF**/
.loader_cover{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width:100vw;
    height:100vh;
    background-color:black;
    display:none;
}
.lc_text{
    font-family:"Tahoma";
    color:green;
    margin:20px;
    z-index:1002;
}
.lc_image{
    width:10vw;
    height:auto;
    z-index:1001;
    position:absolute;
    top:20vh;
    left:20vw;
    animation:spin infinite 2s ease-in-out;
    animation-timing-function: linear;
}
.loader{
    z-index:1;
    display:none;
    image-rendering:pixelated;
}
/**GAME START**/
.faction_choose{
    position:absolute;
    width:80vw;
    height:80vh;
    border:7px solid #666666;
    background-color:white;
    left:calc(10vw - 3.5px);
    top:calc(10vh - 3.5px);
    border-radius:4px;
    display:none;
    z-index:10;
}
.choose_humans, .choose_yox_empire, .choose_scrapbots, .choose_pastans{
    width: 60vw;
    height:15vh;
    margin:auto;
    margin-top:2vh;
    border:2px solid black;
    color:black;
    font-family: "Almendra SC";
    text-align:center;
    font-size:2em;
}
.choose_humans{background-color:var(--human-color);}
.choose_yox_empire{background-color:var(--yox-empire-color);}
.choose_scrapbots{background-color:var(--scrapbots-color);}
.choose_pastans{background-color:var(--pastans-color);}
.choose_humans:hover{background-color:var(--human-color-light);}
.choose_yox_empire:hover{background-color:var(--yox-empire-color-light);}
.choose_scrapbots:hover{background-color:var(--scrapbots-color-light);}
.choose_pastans:hover{background-color:var(--pastans-color-light);}
.choose_humans:hover, .choose_yox_empire:hover, .choose_scrapbots:hover, .choose_pastans:hover{
    cursor:pointer;
}
/**MAIN MAP**/
.tile{
    position:absolute;
    image-rendering: pixelated;
    display:grid;
    grid-area: 1/1;
    object-fit:cover;
}
.tileimg{
    image-rendering: pixelated;
    z-index:2;
    position: relative;
    filter:brightness(100%);
}
.unit{
    z-index:3;
    margin-top:-128px;
    image-rendering: pixelated;
    position: relative;
}
.hotbar, .unit_hotbar{
    position:fixed;
    bottom:0px;
    right:0px;
    width:90vw;
    height:12vh;
    background-color:#99aaff;
    border:3px solid black;
    border-top-left-radius:10px;
    display:none;
    z-index:300;
    font-family:"Almendra SC";
}
.next_turn{
    background-color:#000099;
    color:white;
    font-family:"Almendra SC";
    width:20%;
    height:80%;
    font-size:1.5em;
    margin:10px;
    border:4px solid black;
    z-index:100;
}
.next_turn:hover{
    background-color:#4444aa;
    cursor:pointer;
}
.counters_container{
    position:absolute;
    width:65%;
    height:80%;
    margin-left:10px;
    background-color:#2222aa;
    z-index:40;
    top:5%;
    left:25%;
    border:5px solid black;
    display:flex;
    justify-content: center;
    flex-direction:row;
    gap:20px;
}
.food_counter, .ore_counter, .oil_counter, .gems_counter, .hazardite_counter, .aluminium_counter{
    width:15%;
    height:90%;
    font-size:2em;
    display:flex;
    justify-content:center;
    align-items:center;
}
.counters_container span {
    color: white;
    font-weight: bold;
}
.c_img{
    width:32px;
    height:32px;
    image-rendering: pixelated;
}
.food_c_label, .ore_c_label, .oil_c_label, .gems_c_label, .hazardite_c_label, .aluminium_c_label,.food_c_label2, .ore_c_label2, .oil_c_label2, .gems_c_label2, .hazardite_c_label2, .aluminium_c_label2{
    font-size:auto;
    font-family:"Almendra SC";
}
.unit_health_text, .unit_name_text, .unit_move_text, .unit_attack_text_container{
    color:black;
    font-weight:600;
    font-family:"Almendra SC";
    font-size:2em;
}
.unit_hotbar{
    flex-direction:row;
    justify-content:center;
    gap:20px;
    align-items:center;
}
.unit_hotbar_closer{
    background-color:#2222aa;
    height:auto;
    padding-right:10px;
    width:auto;
    font-family:"Almendra SC";
    color:white;
    font-size:2em;
    border:2px solid black;
}
.unit_hotbar_closer:hover{
    cursor:pointer;
    background-color:#4444cc;
}
/**HQ MENU**/
.hq_menu{
    position:absolute;
    z-index:9999;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color:var(--player-color-dark);
    display:none;
}
.hq_info, .hq_market, .hq_research{
    position:absolute;
    top:20px;
    width:10vw;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:1em;
    border:solid black 2px;
}
.hq_info{
    right:calc(40px + 10vw);
    background-color:#7799dd;
}
.hq_info:hover{
    background-color:#99bbff;
    cursor:pointer;
}
.hq_market{
    right:calc(60px + 20vw);
    background-color:#ffee55;
}
.hq_market:hover{
    background-color:#ffff88;
    cursor:pointer;
    border:2px solid var(--hq-market-unlocked);
}
.hq_research{
    position:absolute;
    right:calc(80px + 30vw);
    background-color:#00dd33;
}
.hq_research:hover{
    cursor:pointer;
    border:2px solid var(--hq-university-unlocked);
    background-color:#11ff55;
}
.hq_buildings, .hq_units{
    position:absolute;
    height:80vh;
    width:40vw;
    background-color:black;
    border:4px solid white;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    overflow:hidden;
    scrollbar-width: 0px;
}
.hq_buildings > ::-webkit-scrollbar, .hq_units > ::-webkit-scrollbar{
    display:none;
}
.hq_buildings{
    left:5vw;
    top:10vh;
}
.hq_units{
    left:55vw;
    top:10vh;
    height:80vh;
}
.buything{
    width:90%;
    height:10%;
    background-color:var(--player-color-pale);
    border:2px solid black;
    color:black;
    font-size:1.2em;
    font-family:"Almendra SC";
    text-align:center;
}
.buything:hover{
    background-color:var(--player-color-light);
    border:2px solid white;
    font-weight:600;
    cursor:pointer;
}
.buy_unit3:hover{border:2px solid var(--unit-three-unlocked);}
.buy_unit4:hover{border:2px solid var(--unit-four-unlocked);}
.buy_unit5:hover{border:2px solid var(--unit-five-unlocked);}
.buy_unit6:hover{border:2px solid var(--unit-six-unlocked);}
.buy_unit7:hover{border:2px solid var(--unit-seven-unlocked);}
.buy_unit8:hover{border:2px solid var(--unit-eight-unlocked);}
.buy_unit9:hover{border:2px solid var(--unit-nine-unlocked);}
.buy_building13:hover{border:2px solid var(--shopping-center-unlocked);}
.buy_building17:hover{border:2px solid var(--research-facility-unlocked);}

.hq_buildings > .buything{
    height:5%;
}
.hq_popup{
    width:80vw;
    height:80vh;
    position:absolute;
    top:10vh;
    left:10vw;
    background-color:var(--player-color-light);
    border:5px solid black;
    z-index:999999;
    display:flex;
    flex-direction: column;
    justify-content: center;
    display:none;
}
.hq_popup_text{
    display:block;
    font-family:"Almendra SC";
    color:black;
    font-size:2.5em;
    margin-top:10px;
    text-align:center;
}
.hq_popup_ok{
    display:block;
    margin:auto;
    width:50%;
    height:20%;
    background-color:var(--player-color-dark);
    font-family:"Almendra SC";
    margin-top:15%;
    font-size:2em;
    border:2px solid black;
}
.hq_popup_ok:hover{
    background-color:var(--player-color-pale);
}
.hq_widget{
    position:absolute;
    bottom:-30vh;
    height:30vh;
    width:100vw;
    background-color:var(--player-color-dark);
    border-top:3px solid black;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.move_hq_widget{
    width:10vw;
    height:auto;
    font-family:"Almendra SC";
    font-size:1.5em;
    background-color:var(--player-color-pale);
    border-top:3px solid black;
    border-left:3px solid black;
    border-right:3px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position:absolute;
    bottom:0px;
    left:45vw;
    text-align:center;
    animation:"bubu 1s forwards";
}
.move_hq_widget:hover{
    background-color:var(--player-color-light);
    font-weight:600;
    cursor:pointer;
}
.hq_widget_alpha, .hq_widget_beta, .hq_widget_citrus{
    width:33.3%;
    height:99%;
}
.hq_widget_healthbar_container{
    margin:0px;
    padding:0px;
    background:#ff0000;
    width:90%;
    height:15%;
    border:2px solid black;
    margin-top:-1px;
}
.hq_widget_healthbar{
    margin:-2px;
    padding:0px;
    border:2px solid black;
    background:var(--hq-healthbar-color);
    width: 50%;
    height:100%;
}
.hqw_healthtext_container{
    font-family:"Almendra SC";
    width:90%;
    text-align:center;
    color:white;
    height:10%;
    font-size:1.4em;
}
.hqw_resource_counter{
    width:90%;
    height:75%;
    border:2px solid black;
    margin:0px;
    padding:0px;
    background-color:var(--player-color-pale);
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    font-family:"Almendra SC";
    justify-content:center;
}

/**ENCYCLOPOEDIA**/
.encycl{
    height:100vh;
    width:100vw;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#d3bd92;
    display:none;
}
.encycl_select{
    height:100vh;
    width:15vw;
    background-color:#b9ab71;
    border-right:3px solid black;
    position:absolute;
    top:0px;
    left:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: thin;
    scrollbar-color: #b9ab71 #d3bd92;
}

.encycl_select::-webkit-scrollbar {
    width: 8px;
    background: #d3bd92;
}

.encycl_select::-webkit-scrollbar-thumb {
    background: #a89a60;
    border-radius: 4px;
    border: 1px solid #8c7c3a;
}

.encycl_select::-webkit-scrollbar-track {
    background: #d3bd92;
}
.e_es{
    width:100%;
    height:10%;
    font-family:"Almendra SC";
    background-color:#b9ab71;
    border:2px solid black;
}
.e_es:hover{
    background-color:#99bbdd;
}
.encycl_infobox{
    width:60vw;
    height:80vh;
    position:absolute;
    border:2px solid black;
    background-color:#b9ab71;
    top:10vh;
    left:27.5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.encycl_infobox_title{
    text-align:center;
    font-family:"Almendra SC";
    color:black;
    font-weight:600;
    font-size:1.8em;
}
.encycl_infobox_image{
    width:40%;
    height:auto;
    margin:auto;
    image-rendering: pixelated;    
}
.encycl_infobox_text{
    text-align:center;
    color:black;
    font-family: "Almendra SC";
    font-size:1.1em;
}
/**MARKETPLACE**/
.marketplace{
    background:linear-gradient(#ffff88, #aaffaa);
    position:absolute;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    display:none;
}
.marketplace1, .marketplace2{
    height:70vh;
    width:40vw;
    border:3px solid black;
    background:#bbaa77;
}
.marketplace1{
    position:absolute;
    top:10vh;
    left:5vw;
    display:flex;
    flex-direction:column;
    justify-content:center;    
}
.marketplace2{
    position:absolute;
    top:10vh;
    right:5vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.marketplace_resource_counter{
    position:absolute;
    bottom:0px;
    width:100%;
    left:0px;
    height:10vh;
    background-color:#7799dd;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:3px solid black;
}
.ore_to_food{
    height:30%;
    width:80%;
    border:2px solid black;
    background:linear-gradient(90deg, var(--ore-color), var(--food-color));
    margin-left:10%;
}
.food_to_ore{
    height:30%;
    width:80%;
    border:2px solid black;
    background:linear-gradient(90deg,var(--food-color), var(--ore-color));
    margin-left:10%;
}
.tradebox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    font-family:"Almendra SC";
    align-items:center;
}
.ore_to_food, .food_to_ore{
    font-size:2.2em;
}
.tradebox > img{
    image-rendering: pixelated;
}
.ore_to_food:hover{
    background:linear-gradient(90deg, var(--ore-color-light), var(--food-color));
}
.food_to_ore:hover{
    background:linear-gradient(90deg, var(--food-color), var(--ore-color-light));
}
.market_img{
    height:50%;
    width:auto;
}
.buy_premium_res, .sell_premium_res{
    display:flex;
    flex-direction: column;
    height:80%;
    width:40%;
    justify-content: center;
    align-items: center;
}
.buy_premium_res > .tradebox, .sell_premium_res > .tradebox{
    width:100%;
    height:25%;
    border:2px solid black;
    font-size:1.5em;
    gap:10px;
}
.food_to_oil{background:linear-gradient(90deg, var(--food-color), var(--oil-color));}
.food_to_hite{background:linear-gradient(90deg, var(--food-color), var(--hazardite-color));}
.ore_to_gems{background:linear-gradient(90deg, var(--ore-color), var(--gems-color));}
.ore_to_alu{background:linear-gradient(90deg, var(--ore-color), var(--aluminium-color));}
.food_to_oil:hover{background:linear-gradient(90deg, var(--food-color), var(--oil-color-light));}
.food_to_hite:hover{background:linear-gradient(90deg, var(--food-color), var(--hazardite-color-light));}
.ore_to_gems:hover{background:linear-gradient(90deg, var(--ore-color-light), var(--gems-color-light));}
.ore_to_alu:hover{background:linear-gradient(90deg, var(--ore-color-light), var(--aluminium-color-light));}
.oil_to_food{background:linear-gradient(270deg, var(--food-color), var(--oil-color));}
.hite_to_food{background:linear-gradient(270deg, var(--food-color), var(--hazardite-color));}
.gems_to_ore{background:linear-gradient(270deg, var(--ore-color), var(--gems-color));}
.alu_to_ore{background:linear-gradient(270deg, var(--ore-color), var(--aluminium-color));}
.oil_to_food:hover{background:linear-gradient(270deg, var(--food-color), var(--oil-color-light));}
.hite_to_food:hover{background:linear-gradient(270deg, var(--food-color), var(--hazardite-color-light));}
.gems_to_ore:hover{background:linear-gradient(270deg, var(--ore-color-light), var(--gems-color-light));}
.alu_to_ore:hover{background:linear-gradient(270deg, var(--ore-color-light), var(--aluminium-color-light));}

/**RESEARCH**/
.research{
    height:100vh;
    width:100vw;
    position:absolute;
    top:0px;
    left:0px;
    background:radial-gradient(#66dd66, #55ee55);
    display:none;
    flex-direction:column;
    justify-content:center;
    gap:5%;
    align-items:center;
}
.research_row1, .research_row2, .research_row3, .research_row4{
    border:2px solid black;
    width:90%;
    height:15%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:2%;
}
.research_row1{
    background-color:#aaaabb;
}
.research_row2{
    background-color:#bb77dd;
}
.research_row3{
    background:linear-gradient(90deg,#ff0000, #0000ff);
}
.research_row4{
    background:#ffffff;
}
.r1r1{background-color: var(--r1r1-purchased);}
.r1r2{background-color: var(--r1r2-purchased);}
.r1r3{background-color: var(--r1r3-purchased);}
.r1r4{background-color: var(--r1r4-purchased);}
.r2r1{background-color: var(--r2r1-purchased);}
.r2r2{background-color: var(--r2r2-purchased);}
.r2r3{background-color: var(--r2r3-purchased);}
.r2r4{background-color: var(--r2r4-purchased);}
.r3r1{background-color: var(--r3r1-purchased);}
.r3r2{background-color: var(--r3r2-purchased);}
.r3r3{background-color: var(--r3r3-purchased);}
.r3r4{background-color: var(--r3r4-purchased);}
.r4r1{background-color: var(--r4r1-purchased);}
.r4r2{background-color: var(--r4r2-purchased);}
.r4r3{background-color: var(--r4r3-purchased);}
.r4r4{background-color: var(--r4r4-purchased);}

.ritem{
    border:2px solid black;
    padding:2px;
    padding-top:4px;
    padding-bottom:4px;
    width:20%;
    height:auto;
    text-align:center;
    font-family:monospace;
}
.ritem:hover{
    font-weight:700;
}
/**damage text, only here temply**/
.damage_effect{
    position:absolute;
    z-index:5000;
    height:auto;
    display:none;
    width:128px;
    text-align:center;
}
.damage_text{
    font-family:sans-serif;
    color:red;
    font-size:2.5em;
}

/**ANIMATIONS*/
@keyframes spin{
    0%{
        left:20vw;
        top:20vh;
        transform: rotate(0deg);
    }
    50%{
        left:80vw;
        top:90vh;
    }
    75%{
        top:80vh;
        left:20vw;
    }
    90%{
        top:10vh;
        left:90vw;
    }
    100%{
        top:20vh;
        left:20vw;
        transform:rotate(360deg);
    }
}
@keyframes hq_widget_opener_rise{
    0%{bottom:0px;}
    100%{bottom:30vh;}
}
@keyframes hq_widget_opener_lower{
    0%{bottom:30vh;}
    100%{bottom:0px;}
}
@keyframes hq_widget_rise{
    0%{bottom:-30vh;}
    100%{bottom:0px;}
}
@keyframes hq_widget_lower{
    0%{bottom:0px;}
    100%{bottom:-30vh;}
}
@keyframes bubu{
    0%{content:"bubu";}
}
