:root{
    --back-image:url(images/backgrounds/menu.png);
}
body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:var(--back-image);
    background-size:100% 100%;
}
.start_menu{
    width:80vw;
    position:absolute;
    left:10vw;
    height:80vh;
    top:10vh;
    background:linear-gradient(#c2ac88, #ccac99,#c2ac88);
    border:5px solid #223344;

}
.smenu_play{
    height:calc(24vh - 6px);
    padding-top:0px;
    margin-top:6vh;
}
.smenu_settings, .smenu_help{
    height:calc(16vh - 6px);
    margin-top:8vh;

}
.smenu_play, .smenu_settings, .smenu_help{
    padding:0;
    background-color:#bbbb88;
    border:3px solid black;
    margin-left:10%;
    width:80%;
    padding-top:0%;
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size:3.5em;
}
.smenu_play:hover, .smenu_settings:hover, .smenu_help:hover{
    background-color:#cccc99;
    font-size:3.55em;
}
.almendra_sc_regular {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
}
.settings{
    width:80vw;
    position:absolute;
    left:10vw;
    top:10vh;
    height:80vh;
    display:none;
    border:5px solid black;
    background-color:#44ee44;
}

